.dashboard {
  position: relative;
  :global {
    .globe {
      margin: auto;
    }

    .ant-card {
      border-radius: 0;
      margin-bottom: 24px;

      &:hover {
        box-shadow: 4px 4px 40px rgb(0, 0, 20);
      }
    }

    .ant-btn-primary {
      width: 250px;
      height: 60px;
      font-size: 23px;
      font-weight: bold;
    }

    .globeheader {
      margin: auto;
      text-align: center;
      padding-bottom: 150px;
    }

    .title {
      margin: auto;
      display: inline-block;
      // font-family: 'terminator';
      font-weight: 600;
      font-size: 28px;
      color: #6fc0ba;
      // color: #161d33;
      // color: #1ec503;
      border: 6px solid #6fc0ba;
      // border: 6px solid #003B00;
      border-radius: 12px;
      padding: 0 10px;
      // text-shadow: 0 0 5px #1ec503;
      text-shadow: 0 0 10px #ccc;
    }

    .ant-statistic-title {
      color: #9ca0af;
      font-size: 13px;
      font-weight: 500;
    }

    .ant-statistic-content {
      color: #fafafa;
      font-weight: 700;
    }

    .ant-table {
      margin-top: 60px;
    }

    .ant-table .ant-table-thead > tr > th {
      color: #9ca0af;
      font-size: 15px;
      font-weight: 500;
    }

    .ant-comment-content-detail {
      color: #dbdcdf;
      font-size: 16px;
      font-weight: 500;
    }
  }
}
