// 本文件是对 ant-design:
// https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less
// 相应变量值的覆盖
// 注意：只需写出要覆盖的变量即可（不需要覆盖的变量不要写）

@import '../../node_modules/antd/lib/style/themes/default.less';

@border-radius-base: 3px;
@border-radius-sm: 2px;
@shadow-color: rgba(0, 0, 0, 0.05);
@shadow-1-down: 4px 4px 40px @shadow-color;
@border-color-split: #f4f4f4;
@border-color-base: #e5e5e5;
@font-size-base: 13px;
@text-color: #fafafa;
@hover-color: #1c233f;
@card-background: #1c233f;
// Layout
@layout-body-background: #19203a;
@layout-header-background: #19203a;
@layout-footer-background: #19203a;
@layout-sider-background: #1f163d;
// menu
// @menu-dark-color: @text-color-secondary-dark;
@menu-bg: #050a1c;
@menu-popup-bg: #050a1c;
@menu-item-color: #ccc;
@menu-highlight-color: #fff;
@menu-item-active-bg: #fff;
@menu-dark-bg: #1f163d;
@menu-dark-arrow-color: #fff;
@menu-dark-submenu-bg: #1f163d;
@menu-dark-highlight-color: #fff;
@menu-dark-item-active-bg: #1f163d;
@menu-dark-selected-item-icon-color: #448aff;
@menu-dark-selected-item-text-color: #fff;
@menu-dark-item-hover-bg: transparent;
// Table
// --
@table-header-bg: transparent;
@table-header-color: #ccc;
@table-header-sort-bg: transparent;
@table-body-sort-bg: transparent;
@table-row-hover-bg: #2b355b;
@table-selected-row-color: #fff;
@table-selected-row-bg: #2b355b;
// progress
@progress-remaining-color: #192039;
