.userInfo {
  position: relative;
  :global {
    margin-left: 6%;
    .user-avatar-card {
      margin-right: 50px;
      text-align: center;
    }
    .user-detail-card {
      min-width: 440px;
    }
    .user-profile-list {
      margin-left: -6%;
      .ant-list-header {
        background: #0f152e;
        color: #e0e0e0;
        color: 20px;
      }
    }

    .ant-list-item {
      border: none;
      color: #e0e0e0;
    }

    .ant-list {
      border: none;
    }

    .ant-list-header {
      border: none;
    }

    .ant-list-items > li {
      background-color: #1c233f;
      padding-left: 25px;
    }

    .ant-list-items > li:nth-child(odd) {
      background-color: #2b314a;
    }
  }
}
